/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font-weight: 400;
  line-height: 1.4;
  font-size: 16px;
}

.xdebug-error {
  color: black;
}

.theme-color-primary {
  color: var(--keystone-primary-color);
}

.theme-color-secondary {
  color: var(--keystone-secondary-color);
}