{
  "overrides": [
    {
      "files": "*.scss",
      "excludeFiles": "src/scss/main.scss",
      "options": {
        "trailingComma": "es5",
        "tabWidth": 2,
        "semi": false,
        "singleQuote": true,
        "bracketSpacing": true
      }
    }
  ]
}