/*----------------------------------------------------
Basic Link Styles
-----------------------------------------------------*/

 a {
  color: var(--keystone-primary-color);
  text-decoration: none;
  display: inline-block;

  @include on-event {
    color: var(--keystone-primary-color-d1);
    text-decoration: underline; 
  }
}