// -----------------------------------------------------------------------------
// This file contains accessibility related styles.
// -----------------------------------------------------------------------------

.no-focus-outline a:focus,
.no-focus-outline button:focus,
.no-focus-outline div:focus {
  outline: none;
}

.sr-only {
  font-size: 0;
  height: 1px;
  overflow: hidden;
  display: block;
}