// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header-middle-bar {
  padding: 0 15px;
  .keystone-header-style-1 & {
    background-color: var(--keystone-background-color-gray-lighter);
  }

  .keystone-header-style-2 & {
    background-color: var(--keystone-background-color-gray-lightest);
  }

  &-inner {
    padding: 30px 0;
    max-width: var(--keystone-module-inner-max-width);
    margin: auto;

    > .flex {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      @include lg {
        flex-direction: column;
      }

      .logo-wrapper {

        .keystone-header-style-3 & {
          display: none;
        }
        
        img {
          height: 36px;
          width: 232px;
        }
      }

      .widgets {
        display: flex;
        flex-wrap: wrap;

        .keystone-header-style-3 & {
          flex-grow: 2;
          justify-content: space-between;
          max-width: 780px;
          margin-right: 60px;

          @include lg {
            margin-right: 0px;
          }
        }

        .widget {
          margin-left: 20px;
          min-width: 180px;
          
          &:first-child {
            margin-left: 0px;
          }
          
          @include lg {
            flex: 1;
            margin-left: 0;
            margin-top: 30px;
            padding: 0 10px;

            .keystone-header-style-3 & {
              margin-top: 0px;
              margin-bottom: 30px;
            }
          }

          > .flex {
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            @include lg {
              flex-direction: column;
              align-items: center;
            }
          }

          .icon-wrapper {
            padding-right: 10px;

            @include lg {
              padding-right: 0px;
              margin-bottom: 6px;
            }

            i {
              font-size: 30px;
              color: var(--keystone-primary-color);
            }
          }

          .widget-text-box {

            @include lg {
              text-align: center;
            }
          }

          .widget-cta-text {
            color: #808080;
            font-size: 12px;
            vertical-align: top;
          }

          .widget-cta-bold-text {
            font-size: 12px;

            a {
              text-decoration: none;

              @include on-event {
                text-decoration: none;
              }
            }

            strong {
              font-weight: 600;
              color: var(--keystone-dark-background-color);
              font-size: 12px;
            }
          }
        }
      }

      .cta-button-wrapper {
        flex-shrink: 0;
      }
    }
  }
}