// -----------------------------------------------------------------------------
// Hero Slider Swiper Styles
// -----------------------------------------------------------------------------

.module-hero-slider-swiper {
  .module-inner {
    max-width: 100%;
  }

  .slider {

    &-inner {

      .swiper-button-prev {
        left: 25px;
      }

      .swiper-button-next {
        right: 25px;
      }

      .swiper-button-next:before,
      .swiper-button-prev:before {
        font-size: 50px;
      }

      .swiper-container {
        height: calc(100vw * .5625);
        max-height: 600px;

        .swiper-wrapper {

          .swiper-slide {
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
          }
        }

      }

    }
  }
}

